body,
.md-typeset {
  font-family: "Vazirmatn", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif !important;
}

.centered-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
